<!-- Banner -->
<div class="flex grid grid-cols-2 md:grid-cols-2 gap-4 h-full w-full bg-gray-200 py-10">
  <!-- flex ml-10 mt-30 grid grid-cols-2 md:grid-cols-3 gap-4 -->
  <div class="ml-10">
    <h1
      class="mt-20 mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl text-ellipsis"
    >
      <span
        class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400 uppercase"
        >{{ detailProduct?.name }}</span
      >
      <p class="text-4xl font-thin text-gray-900">{{ detailProduct?.code }}</p>
    </h1>
    <p
      class="text-lg font-normal text-gray-500 lg:text-xl dark:text-black text-ellipsis"
    >
      {{ detailProduct?.description }}
    </p>
  </div>

  <div class="grid place-items-center">
    <img [src]="detailProduct?.imageUrl" alt="image description" />
  </div>

  <div
    class="col-span-2 flex items-center justify-between rounded-full bg-white px-6 py-4 shadow-md w-full max-w-6xl mx-auto relative overflow-hidden"
  >
    <div class="flex gap-8 text-sm text-black">
      <div class="uppercase">
        <span class="font-bold">BRAND</span> {{ detailProduct?.brand }}
      </div>
      <div class="uppercase">
        <span class="font-bold">MODEL</span> {{ detailProduct?.name }}
        {{ detailProduct?.code }}
      </div>
      <div class="uppercase">
        <span class="font-bold">COLOR</span> {{ detailProduct?.colors }}
      </div>
      <div>
        <span class="font-bold">PRICE</span> ${{ detailProduct?.price }}
      </div>
    </div>

    <button
      class="bg-black text-white font-semibold px-6 py-2 rounded-full z-10"
      (click)="callApi()"
    >
      SHOP NOW
    </button>
  </div>
</div>

<!-- Trending -->
<div class="pt-10 pb-10">
  <p class="mb-10 text-4xl font-thin text-gray-900 text-center">
    WHAT'S TRENDING
  </p>

  <!-- <div id="my-carousel" class="relative w-full" data-carousel="slide">
    <div class="relative h-72 overflow-hidden rounded-lg">
      <div
        *ngFor="let image of trendingProduct; let i = index"
        class="w-full h-full duration-700 ease-in-out"
        [class.hidden]="i !== currentIndex"
        [attr.data-carousel-item]="i === currentIndex ? 'active' : ''"
      >
        <div class="flex items-center justify-center h-full">
          <img
            [src]="image?.imageUrl"
            class="block h-50 w-50 object-contain mx-auto my-auto bg-gray-100 rounded-full"
          />
        </div>
      </div>

      <button
        (click)="prevSlide()"
        type="button"
        class="custom-prev absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-prev
      >
        <span
          class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
        >
          <svg
            class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 1 1 5l4 4"
            />
          </svg>
          <span class="sr-only">Previous</span>
        </span>
      </button>
      <button
        (click)="nextSlide()"
        type="button"
        class="custom-next absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-next
      >
        <span
          class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
        >
          <svg
            class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 9 4-4-4-4"
            />
          </svg>
          <span class="sr-only">Next</span>
        </span>
      </button>
    </div>
  </div> -->

  <div class="swiper-container-wrapper relative">
    <swiper-container
    #swiper
    init="false"
  >
    <swiper-slide *ngFor="let product of trendingProduct">
      <div class="flex flex-col items-center justify-center">
        <img
          [src]="product.imageUrl"
          alt="Product Image"
          class="block h-40 w-40 object-contain mx-auto my-auto bg-gray-100 shadow-xl rounded-xl"
          [routerLink]="`/product-detail/${product.id}`"
        />
        <h3 [routerLink]="`/product-detail/${product.id}`" class="text-lg font-semibold">{{ product.name }}</h3>
        <p class="text-xl font-bold mt-2">${{ product.price }}</p>
      </div>
    </swiper-slide>
  </swiper-container>
  <button
    type="button"
    class="custom-prev absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
    data-carousel-prev
  >
    <span
      class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
    >
      <svg
        class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 6 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 1 1 5l4 4"
        />
      </svg>
      <span class="sr-only">Previous</span>
    </span>
  </button>
  <button
    type="button"
    class="custom-next absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
    data-carousel-next
  >
    <span
      class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
    >
      <svg
        class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 6 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 9 4-4-4-4"
        />
      </svg>
      <span class="sr-only">Next</span>
    </span>
  </button>
  </div>
</div>

<!-- Subcribe -->
<section class="bg-gray-200">
  <div class="py-8 px-4 mx-auto h-full max-w-screen-xl text-center lg:py-16 z-10 relative">
    <a href="#" class="inline-flex justify-between items-center py-1 px-1 pe-4 mb-7 text-sm text-white bg-gradient-to-r to-emerald-600 from-sky-400 rounded-full hover:bg-blue-200 dark:hover:bg-blue-800">
        <span class="text-xs bg-to-emerald-600 rounded-full text-white px-4 py-1.5 me-3">New</span>
        <span class="text-sm font-medium">Jumbotron component was launched! See what's new</span>
        <svg class="w-2.5 h-2.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
        </svg>
    </a>
    <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl">
      We invest in the world’s potential
    </h1>
    <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48">
      Here at Flowbite we focus on markets where technology, innovation, and capital can unlock long-term value and drive economic growth.
    </p>
    <form class="w-full max-w-md mx-auto">
        <label for="default-email" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">
          Email sign-up
        </label>
        <div class="relative">
            <div class="absolute inset-y-0 rtl:inset-x-0 start-0 flex items-center ps-3.5 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
                    <path d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"/>
                    <path d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"/>
                </svg>
            </div>
            <input type="email" id="default-email" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-white focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter your email here..." required />
            <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              Sign up
            </button>
        </div>
    </form>
  </div>
</section>
